/*Imports*/
@import "./Partials/Fonts";
@import "./Partials/Colores";
@import "./Partials/Font-Medidas";
@import "./Partials/Medidas";

/*Background*/

body{
    background-color: rgba(164, 163, 161, 0.201);
}

footer{
    background-color: rgba(158, 129, 71, 0.201);
}

/*Titulos*/

.Titular{
    font-family: $font-subtitles;
    font-size: 2.5rem;
    text-align: center;
    color: #E2703A;
    text-transform: uppercase;
}

.NavDeco:hover{
    text-decoration: underline #9C3D54 5px;
    font-size: 27px;
    text-shadow: 0px 0px 0px;
}

/*Texto de los proyectos*/

.TextoCasas{
    text-align: center;
    &__titulo{
        font-family: $font-subtitles;
        font-size: 2rem;
        text-align: center;
        color: $color-titulos;
    }
    &__texto{
        font-family: $font-textos;
        font-size: 1.5rem;
        color: $texto_casas;
    }
}

/*Servicios seccion Estuio31*/

.Servicios {
    text-align: center;
    &__ppal{
        background-color: rgba(148, 137, 137, 0.043);
        border-radius: 5px;
    }
    &__secundarios{
        background-color: rgba(148, 137, 137, 0.043);
        display: flex;
        border-radius: 5px;
        padding: 25px;
    }
    &__titulo{
        font-family: $font-subtitles;
        font-size: 1.5rem;
        color: $color-titulos;
    }
    &__texto{
        font-family: $font-textos;
        font-size: 1.2rem;
    }
    &__iconos{
        height: 6rem;
        width: 6rem;
        align-items: center;
    }
}

/*Header*/

.Header{
    display: flex;
    &__img{
        height: 6.5rem;
        width:  6.5rem;
        border-radius: 10rem;
    }
    &__lista{
        display: flex;
    }
    &__link{
        font-size: 1.5rem;
        font-family: $font-nav;
        font-weight: bold;
    }

}

/*Footer*/

.Footer{
    display: flex;
}

.Logos{
    margin-left: 1rem;
    &__insta{
        height: 25px;
        width: 25px;
    }
    &__linked{
        height: 25px;
        width: 25px;
    }
    &__correo{
        height: 25px;
        width: 25px;
    }
}

.Pinocho{
    display: flex;
    font-size: 1.2rem;
    margin-left: 27rem;
    
}

/*Efectos imagenes proyectos*/

.Imagenes:hover{
    transform: scale(1.1, 1.1);
}

/*Media query*/

@media only screen and (max-width: 1024px){
    .Pinocho{
        font-size: 1rem;
        margin-left: 16rem;
        
    }
}

@media only screen and (max-width: 768px){
    .Pinocho{
        font-size: 0.8rem;
        margin-left: 10rem;
        
    }
}

@media only screen and (max-width: 425px){
    .Pinocho{
        font-size: 15px;
        margin-left: 27px;
        
    }
}

@media only screen and (max-width: 375px){
    .Pinocho{
        font-size: 10px;
        margin-left: 4px;
        
    }
}