/*Imports*/
/*Background*/
body {
  background-color: rgba(164, 163, 161, 0.201);
}

footer {
  background-color: rgba(158, 129, 71, 0.201);
}

/*Titulos*/
.Titular {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #E2703A;
  text-transform: uppercase;
}

.NavDeco:hover {
  -webkit-text-decoration: underline #9C3D54 5px;
          text-decoration: underline #9C3D54 5px;
  font-size: 27px;
  text-shadow: 0px 0px 0px;
}

/*Texto de los proyectos*/
.TextoCasas {
  text-align: center;
}

.TextoCasas__titulo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #831e1e;
}

.TextoCasas__texto {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5rem;
  color: #ab2d07;
}

/*Servicios seccion Estuio31*/
.Servicios {
  text-align: center;
}

.Servicios__ppal {
  background-color: rgba(148, 137, 137, 0.043);
  border-radius: 5px;
}

.Servicios__secundarios {
  background-color: rgba(148, 137, 137, 0.043);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  padding: 25px;
}

.Servicios__titulo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  color: #831e1e;
}

.Servicios__texto1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.35rem;
}

.Servicios__texto {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.2rem;
}

.Servicios__iconos {
  height: 6rem;
  width: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Header*/
.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header__img {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 10rem;
}

.Header__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header__link {
  font-size: 1.5rem;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
}

/*Footer*/
.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 0px;
}

.Logos {
  margin-left: 1rem;
}

.Logos__insta {
  height: 25px;
  width: 25px;
}

.Logos__linked {
  height: 25px;
  width: 25px;
}

.Logos__correo {
  height: 25px;
  width: 25px;
}

.Pinocho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
  margin-left: 27rem;
}

/*Efectos imagenes proyectos*/
.Imagenes:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/*Media query*/
@media only screen and (max-width: 1024px) {
  .Pinocho {
    font-size: 1rem;
    margin-left: 16rem;
  }
  .Bunny {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .Pinocho {
    font-size: 0.8rem;
    margin-left: 10rem;
  }
}

@media only screen and (max-width: 425px) {
  .Pinocho {
    font-size: 15px;
    margin-left: 27px;
  }
}

@media only screen and (max-width: 375px) {
  .Pinocho {
    font-size: 10px;
    margin-left: 4px;
  }
}
