$font-textos: 'PT Sans Narrow', sans-serif;
$font-nombre: 'Rajdhani', sans-serif;
$font-apellido: 'Montserrat', sans-serif;
$font-subtitles: 'Roboto Condensed', sans-serif;
$font-nav: 'Mukta', sans-serif;
